<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">{{monster.name}}</div>
            </div>
            <div class="right">
                <div id="hp">{{monster.hp}} HP </div>
                <!-- <img class="energy" src="img/s2.jpg" > -->
            </div>
        </header>
        <figure id="art">
            <img class="image-central" src="img/poo1.jpg" >
        </figure>
        <div class="number">    
            <div class="num">{{monster.num}}</div>
        </div>
        <div class="combinaison">
            <div class="imgs">

            </div>
            <div class="title">
                <div class="pro">{{monster.attackName}}</div>
                <div class="numero">{{monster.attackPower}}</div>
            </div>
        </div>
        <div class="text">
            <p class="para">
                {{monster.description}}
            </p>
        </div>
    </div>
</div>